table {
  width: 100%; }

thead {
  border-bottom: 2px solid #ddd; }

thead td, thead th {
  padding: 5px 0 2px 0;
  text-align: left; }

tbody td {
  text-align: left; }
tbody th {
  text-align: left; }

td {
  border-bottom: 1px dotted #eee;
  padding: 4px 3px 3px 3px; }
  
fieldset {
  margin: 10px 10px 30px 10px;
  padding: 10px 5px 5px 20px;
  border: 1px solid #cdd891; }
  fieldset legend {
    color: #464e1c;
    border: 1px solid #cdd891;
    background-color: #dee6b6;
    padding: 2px 8px 2px 8px; }
  fieldset label {
    font-size: 0.9em;
    font-weight: bold;
    display: inline-block;
    vertical-align: top;
    width: 120px; }